*{margin:0;padding:0;font:inherit;color:inherit;line-height: 1.2em;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none; display: block;}
table {border-collapse:collapse;border-spacing:0}
ul,ol,nav{list-style:none;}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}

body{
    font-family: 'NotoSans';
    min-width: 360px;
    width: 100%;
    overflow: hidden;
}

.sticky{
    position: sticky;
    top:0;
    height: 100vh;
    overflow: hidden;
}

*{cursor: none !important;}

.__cursor{
	position: fixed; z-index: 9999;
	display: flex; align-items: center; justify-content: center;
	pointer-events: none;
	/* mix-blend-mode: difference; */
	width: 18px; height: 18px;
	transition: opacity .5s;
}
.__cursor div{
	border-radius: 50%; background-color: #41a324; position: absolute;
	width: 100%; height: 100%;
}
.__cursor .n1{opacity: 0.3;}
.__cursor .n2{opacity: 0.5;}
.__cursor .n3{}

@keyframes cursorHover01 {
	0%{transform:scale(1)}
	80%{transform:scale(2)}
	100%{transform:scale(1)}
}
@keyframes cursorHover02 {
	0%{transform:scale(1)}
	80%{transform:scale(1.5)}
	100%{transform:scale(1)}
}

.__cursor.hover .n1{animation: cursorHover01 forwards infinite 1s;}
.__cursor.hover .n2{animation: cursorHover02 forwards infinite 1s;}

._s .hover{ position: relative; overflow: hidden; }
._s .hover .circle{
	width: 0; height: 0; transition: width .5s ease-in-out,height .5s ease-in-out;
	border-radius: 50%; background-color: var(--orange);
	position: absolute; transform: translate(-50%,-50%);
}

._s .hover p,
._s .hover span,
._s .hover i{
	position: relative; z-index: 2;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar {
    width: .6rem;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
    border-radius: 1.6rem;
}
