@import './utils/var';
@import './utils/mixin';

@import './base/reset';
@import './base/typo';
@import './base/preset';

@import './layout/header';
@import './layout/footer';

@import './page/main';

.container{
    background: var(--bg);
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
#wrap{
    position: relative;
    background: rgb(24, 24, 24);
    z-index: 9;
    section.s1{
        background: var(--bg);
        .top-title{
            width: 97%;
            margin: 0 auto;
            display: flex;
            aspect-ratio: 3.714095744680851 / 1;
            overflow: hidden;
            gap: 20px;
            .frame{
                display: flex;
                align-items: center;
                width: 100%;
                font-weight: 900;
                font-size: 16vw;
            }
        }
    }
    section.s2{        
        position: sticky;
        top: 0;
        z-index: 5;
        mix-blend-mode: difference;
        color: #fff;
        .nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 72px;
            font-weight: 700;
            width: 97%;
            margin: 0 auto;
            overflow: hidden;
            @include mobile{
                justify-content: flex-end;
            }
            &-title{
                display: flex;
                align-items: center;
                gap: 8px;
                height: 100%;
                opacity: 0;
                @include mobile{
                    display: none;
                }
            svg{
                    width: 24px;
                }
                p{
                    height: 100%;
                    line-height: 72px;
                }
            }
            &-list{
                display: flex;
                align-items: center;
                gap: 16px;
                opacity: 0;
                li{

                }
            }
        }
    }
    section.s3{
        padding-bottom: 10vw;
        @include mobile{
            padding-top: 5vw;
        }
        .intro{
            width: 97%;
            margin: 0 auto;
            &-txt{
                display: flex;
                align-items: center;
                position: relative;
                font-size: 5vw;
                font-weight: 900;
                white-space: nowrap;
                gap: 50px;
                .line{
                    height: 1px;
                    background: #000;
                }
                &:nth-child(1){
                    .des{
                        clip-path: inset(0% 100% 0% 0%);
                        width: 0%;
                    }
                    .line{
                        width: 0%;
                    }
                }
                &:nth-child(2){
                    .des{
                        clip-path: inset(0% 0% 100% 0%);
                    }
                    .line{
                        width: 0%;
                    }
                }
                &:nth-child(3){
                    .des{
                        clip-path: inset(0% 100% 0% 0%);
                        width: 0%;
                    }
                    .line{
                        width: 0%;
                    }
                }
            }
        }
    }
    section.s4{
        height: 300vh;
        background: var(--bg);
        position: relative;
        z-index: 6;
        .about-cont{
            height: 100%;
            .about-list{
                position: relative;
                z-index: 2;
                height: 100%;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;
                    height: calc(100% / 3);
                    border-top: 1px solid;
                    background: var(--bg);
                    @include mobile{
                        flex-direction: column;
                        justify-content: center;
                    }
                    &:nth-child(2){
                        @include mobile{
                            flex-direction: column-reverse;
                        }
                    }
                    h3{
                        display: flex;
                        align-items: center;
                        font-size: 10vw;
                        letter-spacing: -.05em;
                        font-weight: 600;
                        @include mobile{
                            font-size: 16vw;
                        }
                    }
                    .des{
                        display: flex;
                        flex-direction: column;
                        flex: 0.6;
                        gap: 60px;
                        font-weight: 500;
                        @include mobile{
                            flex:0;
                            gap: 0;
                        }
                        .dot{
                            font-size: 9px;
                            @include mobile{
                                display: none;
                            }
                        }
                    }
                }
            }
            video{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                width: 100%;
                object-fit: cover;
                z-index: 1;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    section.s5{
        background: var(--bg);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        width: 100%;
        margin: 0 auto;
        .work-bg{
            height: 700vh;
            @include mobile{
                height: unset;
            }
            .sticky{
                @include mobile{
                    position: unset;
                    height: 50vh;
                    overflow: unset;
                }
            }
            .work{
                width: 97%;
                height: 100%;
                margin: 0 auto;
                &-title{
                    padding-top: 160px;
                    .pofol{
                        position: relative;
                        font-weight: 600;
                        font-size: 16.8vw;
                        white-space: nowrap;
                        > div{
                            display: flex;
                            position: absolute;
                            top: 0;
                            overflow: hidden;
                            .h1{
                                position: relative;
                                overflow: hidden;
                                span{
                                    position: relative;
                                    left: -50%;
                                }
                            }
                            .h2{
                                position: relative;
                                overflow: hidden;
                                span{
                                    position: relative;
                                    right: -50%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .work-cont{
            position: relative;
            margin-top: -600vh;
            @include mobile{
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-top: unset;
            }
            .work-list.right{
                > div{
                    display: flex;
                    justify-content: flex-end;
                }
            }
            .work-list{
                width: 97%;
                margin: 0 auto;
                > div{
                    .work-item{
                        position: relative;
                        max-width: 40%;
                        width: 100%; 
                        animation: upDown 1.5s infinite ease-in-out;           
                        @include mobile{
                            max-width: 100%;
                            animation: none;
                        }           
                        a{
                            overflow: hidden;
                            .item-inner{
                                display: flex;
                                flex-direction: column;
                                position: absolute;
                                z-index: 3;
                                left: 50%;
                                transform: translateX(-50%);
                                max-width: 93%;
                                width: 100%;
                                height: 100%;
                                .inner-title{
                                    position: sticky;
                                    top: 0;
                                    padding-top: 20px;
                                    margin-bottom: 38px;
                                    color: #fff;
                                    text-shadow: 3px 2px 4px #000;
                                    z-index: 1;
                                    p:nth-child(1){
                                        font-size: 25px;
                                        margin-bottom: 8px;
                                    }
                                    p:nth-child(2){
                                        display: flex;
                                        align-items: center;
                                        flex-wrap: wrap;
                                        gap: 8px;
                                    }
                                }
                                .item-hover{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    height: 300px;
                                    clip-path: inset(0% 0% 100% 0%);
                                    transition: clip-path 0.4s ease-in-out;
                                }
                                .item-hidden{
                                    color: #fff;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;
                                    clip-path: inset(0% 0% 100% 0%);
                                    transition: clip-path 0.4s ease-in-out;
                                }
                            }
                            > img{
                                width: 100%;
                                height: 470px;
                                object-fit: cover;
                                transition: all .3s ease;
                                @include mobile{
                                    height: 350px;
                                }
                            }                            
                        }
                    }
                    .work-item.on{
                        &::before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            backdrop-filter: blur(10px) brightness(0.9);
                            z-index: 1;
                        }
                        a{
                            .item-hover, .item-hidden{
                                clip-path: inset(0% 0% 0% 0%);
                            }                            
                            > img{
                                scale: 1.1;
                                filter: blur(0px) brightness(0.4);
                            }
                        }
                        .item-bg{
                            position: absolute;
                            top: 0;
                            background-image: url("../images/item-bg.gif");
                            background-repeat: no-repeat;
                            background-position: left top;
                            background-size: 100%;
                            width: 100%;
                            height: 100%;
                            mix-blend-mode: soft-light;
                            opacity: 0.45;
                            z-index: 2;
                            img{

                            }
                        }
                    }
                }
            }
        }
        .work-footer{
            .slide{
                display: flex;
                align-items: center;
                height: 106px;
                font-size: 2vw;
                gap: 20px;
                overflow: hidden;
                font-weight: 600;
                @include mobile{
                    font-size: 4vw;
                }
                .txt{
                    white-space: nowrap;
                }
                svg{
                    width: 30px;
                }
            }
        }
    }
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}